<!-- <span class="bc-cont">
    <span *ngFor="let route of routeData, let i = index;">
        <span *ngIf="i == 0">Admin<a routerLink="/{{route}}"> > {{route}}</a></span><a *ngIf="i > 0" routerLink="{{routeData[i-1]}}/{{route}}"> > {{route}}</a>
    </span>
</span> -->
<div class="row mb-3">
  <div class="bc-cont col-auto small">
    Admin
    <span *ngFor="let route of routeData; let i = index">
      <span
        ><a routerLink="/{{ route.link }}"
          ><span class="text-danger">&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;</span>{{ route.cLink }}</a
        ></span
      >
    </span>
  </div>
  <!-- <hr class="mt-1 pe-3" /> -->
</div>
