.lgnBtn {
  margin-left: 0px;
}

.main {
  position: relative;
  margin-top: -67px;
}

.app-body {
  height: 1000px;
  padding-top: -10px;

  background: linear-gradient(40deg, #fafafa, #cc3838) !important;
}
.center {
  text-align: center;
  font-weight: 800;
}
.card-title {
  font-size: x-large;
}

.mt-2 {
  font-size: 1.09375rem;
}
.container {
  margin-top: 100px;
  max-width: 1000px;
}
