<div class="row vh-100 d-flex align-items-center justify-content-center forgot-password-page">
  <div class="col-6">
    <div class="card p-4">
      <div class="d-flex align-items-center justify-content-center mb-4">
        <i class="fa fa-paperclip fa-2x px-2" style="color: #ff6219"></i>
        <span class="h1 mb-0">Doc-Assist</span>
      </div>

      <div class="card-body d-flex align-items-center justify-content-center">
        <div class="w-75" *ngIf="showFP">
          <h4 class="fw-light mb-3 text-center">Forgot Password?</h4>
          <p>Please enter your email address to receive an OTP for this account.</p>
          <form [formGroup]="fpForm" autocomplete="off">
            <div class="input-group mb-5">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <input
                type="text"
                class="form-control"
                placeholder="Email Address"
                formControlName="email"
                autocomplete="off"
              />
            </div>
            <div class="col d-flex justify-content-center">
              <button type="button" (click)="submit()" class="btn btn-sm btn-primary me-5">Send OTP</button>
              <button type="button" class="btn btn-sm btn-secondary" routerLink="/login">
                <i class="fa fa-arrow-left me-2"></i>Back
              </button>
            </div>
          </form>
        </div>
        <div class="fp-form-cont" *ngIf="showOTP">
          <h2 class="card-title">Enter OTP below</h2>
          <form [formGroup]="otpForm" autocomplete="off">
            <div class="input-group mb-5 mt-5">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key fa-2x"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Enter OTP"
                formControlName="otp"
                autocomplete="off"
              />
            </div>
            <div class="row">
              <div class="col-12">
                <button type="button" (click)="submitOTP()" class="btn btn-primary px-4">Reset Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="fp-form-cont" *ngIf="showReset">
        <h2 class="card-title">Reset Your Password</h2>
        <form [formGroup]="rpForm" autocomplete="off">
          <div class="input-group mb-5 mt-5">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-lock fa-2x"></i></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="Enter New Password"
              formControlName="password"
              autocomplete="off"
            />

            <p class="" *ngIf="isControlHasError('password', 'required')">
              <span>Please Enter New Password !</span>
            </p>
            <p class="" *ngIf="isControlHasError('email', 'minLength')">
              <strong>Password should be minimum 3 characters</strong>
            </p>
            <p class="" *ngIf="isControlHasError('email', 'maxLength')">
              <strong>Password should be maximum 100 characters</strong>
            </p>
          </div>
          <div class="input-group mb-5 mt-5">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-lock fa-2x"></i></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="Confirm Password"
              formControlName="cpassword"
              autocomplete="off"
            />
          </div>
          <div class="row">
            <div class="col-12">
              <button type="button" (click)="ResetPassword()" class="btn btn-primary px-4">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
