<div class="app-body" style="padding-top: 0px">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4 paddingZero lgnRadius">
              <span class="lgnJust">
                <h1 class="center">SAMRX</h1>
              </span>

              <div class="card-body paddingZero">
                <div class="fp-form-cont" *ngIf="showFP">
                  <h2 class="card-title">Forgot Your Password?</h2>
                  <h5 class="mt-2">
                    Please enter your email address. You will receive a OTP to the email address for this account.
                  </h5>
                  <form [formGroup]="fpForm" autocomplete="off">
                    <div class="input-group mb-5 mt-5">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Email Address"
                        formControlName="email"
                        autocomplete="off"
                      />

                      <!-- <p class="colorRed" *ngIf="isControlHasError('email','required')"> <span>Please Enter Email Id
                          !</span> </p>
                      <p class="colorRed" *ngIf="isControlHasError('email','email')"> <span>Enter Valid Email Id</span>
                      </p>
                      <p class="colorRed" *ngIf="isControlHasError('email','minLength')">
                        <strong>minLength error</strong>
                      </p>
                      <p class="colorRed" *ngIf="isControlHasError('email','maxLength')">
                        <strong>maximum error</strong>
                      </p> -->

                      <!-- <p class="colorRed" > <span>Please Enter Email Id
                          !</span> </p>
                      <p class="colorRed" > <span>Enter Valid Email Id</span>
                      </p>
                      <p class="colorRed" >
                        <strong>minLength error</strong>
                      </p>
                      <p class="colorRed">
                        <strong>maximum error</strong>
                      </p> -->
                    </div>
                    <div class="row lgnJust">
                      <div class="col-6">
                        <button type="button" (click)="submit()" class="btn btn-primary px-4 lgnBtn">Send OTP</button>
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" class="btn btn-secondary px-4" routerLink="/login">
                          <i class="fa fa-arrow-left"> Back</i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="fp-form-cont" *ngIf="showOTP">
                  <h2 class="card-title">Enter OTP below</h2>
                  <form [formGroup]="otpForm" autocomplete="off">
                    <div class="input-group mb-5 mt-5">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key colorRed fa-2x"></i></span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter OTP"
                        formControlName="otp"
                        autocomplete="off"
                      />
                    </div>
                    <div class="row lgnJust">
                      <div class="col-12">
                        <button type="button" (click)="submitOTP()" class="btn btn-primary px-4 lgnBtn">
                          Reset Password
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="fp-form-cont" *ngIf="showReset">
                <h2 class="card-title">Reset Your Password</h2>
                <form [formGroup]="rpForm" autocomplete="off">
                  <div class="input-group mb-5 mt-5">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-lock colorRed fa-2x"></i></span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Enter New Password"
                      formControlName="password"
                      autocomplete="off"
                    />

                    <p class="colorRed" *ngIf="isControlHasError('password', 'required')">
                      <span>Please Enter New Password !</span>
                    </p>
                    <p class="colorRed" *ngIf="isControlHasError('email', 'minLength')">
                      <strong>Password should be minimum 3 characters</strong>
                    </p>
                    <p class="colorRed" *ngIf="isControlHasError('email', 'maxLength')">
                      <strong>Password should be maximum 100 characters</strong>
                    </p>
                  </div>
                  <div class="input-group mb-5 mt-5">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-lock fa-2x"></i></span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Confirm Password"
                      formControlName="cpassword"
                      autocomplete="off"
                    />
                  </div>
                  <div class="row lgnJust">
                    <div class="col-12">
                      <button type="button" (click)="ResetPassword()" class="btn btn-primary px-4 lgnBtn">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
