<div class="row mb-3">
  <h3 class="col">Create Project Type</h3>
</div>
<div class="row">
  <div class="col">
    <div class="row mb-2">
      <label class="col-form-label col-2 text-end">Project Type</label>
      <div class="col">
        <input type="text" class="form-control" id="userName" [(ngModel)]="srchTrmProjName" />
      </div>
    </div>
    <div class="row mb-2 proj-hierarchy-cont">
      <label class="col-form-label col-2 text-end">Similar To</label>
      <div class="col">
        <select [(ngModel)]="projHierarchy" class="form-control form-select" (change)="setProjectHierarchy()">
          <option [ngValue]="''" selected>Please select</option>
          <option *ngFor="let projHierarchy of projTypes; let i = index" [ngValue]="projHierarchy">
            {{ projHierarchy.projectTypeName }}
          </option>
        </select>
        <div *ngIf="showSelectError" class="mb-2 mb-2">Please select hierarchy</div>
      </div>
      <button
        (click)="setTreeData()"
        class="btn btn-primary red-tags rounded-0 text-white view-btn"
        [disabled]="!srchTrmSimilarTo"
      >
        View
      </button>
    </div>
    <div class="row mb-2">
      <div class="col d-flex justify-content-center">
        <button
          type="button"
          class="me-3 btn btn-danger"
          [disabled]="!srchTrmProjName && !srchTrmSimilarTo"
          (click)="postProjTypeData()"
        >
          Save
        </button>
        <button class="btn btn-info text-white" type="button" [disabled]="!srchTrmProjName && !srchTrmSimilarTo">
          Edit
        </button>
      </div>
    </div>
  </div>
  <div class="col ptree" *ngIf="data.designationName">
    <tree-view-admin #treeView [data]="data" [template]="treeTemplate"> </tree-view-admin>
    <ng-template #treeTemplate let-node>
      <span class="icon-cont"><img src="assets/images/square.png" alt="image" /></span>
      <span class="desgn-cont">{{ node.designationName }}</span>
    </ng-template>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showError" class="text-center">
      <P>{{ showError }}</P>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showSuccess" class="text-center">
      <P>{{ showSuccess }}</P>
    </div>
  </div>
</div>
