<div class="row">
  <div class="col-md-12">
    <div class="row mb-3">
      <h3 class="col">Edit Department</h3>
    </div>
    <div class="row">
      <div class="offset-xl-3 col-xl-6 p-3 shadow-sm">
        <table class="table table-sm table-striped align-middle">
          <thead>
            <tr class="bg-primary bg-gradient text-white">
              <th scope="col">#</th>
              <th>Description</th>
              <th class="col-1">Function</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let department of departments; let i = index">
              <td>{{ (this.page - 1) * this.pageSize + i + 1 }}</td>
              <td>{{ department.departmentName }}</td>
              <td>
                <button (click)="postEditId(department)" class="btn btn-sm btn-success">EDIT</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="w-100"></div>
        <div class="col d-flex align-items-start justify-content-between" *ngIf="total">
          <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" (pageChange)="setPage($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showError" class="text-center">
      <P>{{ showError }}</P>
    </div>
  </div>
</div>
