<div class="row mt-5">
  <div class="col-md-12">
    <div class="row">
      <span class="bc-cont col-md-3">Edit Department</span>
    </div>
    <div class="row mt-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th>Description</th>
            <th>Function</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let department of departments; let i = index">
            <td scope="row">{{ department.id }}</td>
            <td>{{ department.departmentName }}</td>
            <td>
              <button
                (click)="postEditId(department)"
                class="btn btn-sm btn-success"
              >
                EDIT
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
