<div class="row mb-3">
  <h3 class="col">Create Rights</h3>
</div>
<div class="row mb-3">
  <div class="offset-xl-2 col-xl-8">
    <form [formGroup]="rightTypeCreateEditForm" (ngSubmit)="onSubmitRightTypeCreateEdit()">
      <div class="row mb-2">
        <label class="col-form-label col-2 text-end">Name</label>
        <div class="col">
          <input type="text" class="form-control" formControlName="name" />
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-2 text-end">Description</label>
        <div class="col">
          <input type="text" class="form-control" formControlName="description" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col d-flex justify-content-center">
          <button type="submit" class="me-3 btn btn-danger" [disabled]="rightTypeCreateEditForm.invalid">Save</button>
          <button class="btn btn-secondary" type="reset">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12">
    <div *ngIf="showError" class="text-center">
      <P>{{ showError }}</P>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showSuccess" class="text-center">
      <P>{{ showSuccess }}</P>
    </div>
  </div>
</div>
