<form [formGroup]="documentSearchForm" (ngSubmit)="onSubmitDocumentSearch()">
  <div class="row mt-5">
    <div class="col-md-2">
      <div class="red-tags">Document Name</div>
    </div>
    <div class="col-md-5">
      <input type="text" class="form-control" formControlName="documentName" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2">
      <div class="red-tags">Document Type</div>
    </div>
    <div class="col-md-5">
      <select class="form-control form-select" formControlName="documentId">
        <option [value]="''">Please Select</option>
        <option
          *ngFor="let docType of docTypes; let i = index"
          [value]="docType.id"
        >
          {{ docType.documentType }}
        </option>
      </select>
    </div>
  </div>
  <!-- <div class="row mt-2">
    <div class="col-md-2">
      <div class="red-tags">Contains Text</div>
    </div>
    <div class="col-md-5">
      <input type="text" class="form-control" formControlName="searchText" />
    </div>
  </div> 
  <div class="row mt-2">
    <div class="col-md-2">
      <div class="red-tags">Project</div>
    </div>
    <div class="col-md-5">
      <select class="form-control form-select" formControlName="project">
        <option [value]="''">Please select</option>
        <option
          [value]="project.id"
          *ngFor="let project of projects; let i = index"
        >
          {{ project.projectName }}
        </option>
      </select>
    </div>
  </div> -->
  <div class="row mt-2">
    <div class="col-md-2">
      <div class="red-tags">Created By</div>
    </div>
    <div class="col-md-5">
      <select formControlName="createdBy" class="form-control form-select">
        <option [value]="''">Please select</option>
        <option
          *ngFor="let userdata of userAllData; let i = index"
          [value]="userdata.id"
        >
          {{ userdata.firstName }} {{ userdata.lastName }}
        </option>
      </select>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2">
      <div class="red-tags">Doc Date Between</div>
    </div>
    <div class="col-md-2">
      <input
        type="date"
        class="form-control"
        formControlName="startTime"
        max="{{ documentSearchForm.value.endTime }}"
      />
    </div>
    <div class="col-md-1">
      <div class="red-tags">And</div>
    </div>
    <div class="col-md-2">
      <input
        type="date"
        class="form-control"
        formControlName="endTime"
        min="{{ documentSearchForm.value.startTime }}"
      />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2">
      <div class="red-tags">Tagging Head</div>
    </div>
    <div class="col-md-5" *ngIf="tags && tags.length > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Tagging Head</th>
            <th>Yes / No</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tag of tags; let i = index" class="text-capitalize">
            <td>{{ i + 1 }}</td>
            <td>
              {{ tag.taggingHeadName }}
            </td>
            <td>
              <input (change)="onChange(tag.id, $event)" type="checkbox" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-2">
    <div class="offset-md-2 col-md-4">
      <button
        type="submit"
        class="me-5 col-md-5 btn bg-danger red-tags rounded-0 text-white"
        
      >
        Save
      </button>
      <button
        class="col-md-5 btn bg-danger red-tags rounded-0 text-white"
        type="button"
      >
        Close
      </button>
    </div>
  </div>
</form>
<div class="row mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Docuemnt Name</th>
        <!-- <th>Project</th> -->
        <th>Uploaded Date</th>
        <th>Document Type</th>
        <th>Tagging Heads</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let document of documents; let i = index;"
        class="text-capitalize"
      >
        <td>{{ i + 1}}</td>
        <td>{{document.documentName}}</td>
        <!-- <td>{{document.project}}</td> -->
        <td>{{document.documentDate | date: 'dd/MM/yyyy'}}</td>
        <td>
          <select class="view-input" disabled>
            <option *ngFor="let docType of docTypes; let i = index;"
            [value]="docType.id"
            [selected]="docType.id == document.documentId"
            >
              {{ docType.documentType }}
            </option>
          </select>
        </td>
        <td>{{document.documentName}}</td>
        <td><button type="button" (click)="downloadFile(document.documentPath)">Download</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row mt-5">
  <div class="col-12">
    <div *ngIf="showError" class="text-center">
      <P>{{ showError }}</P>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showSuccess" class="text-center">
      <P>{{ showSuccess }}</P>
    </div>
  </div>
</div>
