<div class="row">
  <h3 class="col-12">Create Project</h3>
  <div class="w-100 mb-3"></div>
  <div class="offset-xl-2 col-xl-8">
    <form [formGroup]="projCreateForm" (ngSubmit)="onSubmitProjCreateForm()">
      <div class="row mb-2">
        <label class="col-form-label col-3 text-end">Project Type Name</label>
        <div class="col">
          <input type="text" class="form-control" id="userName" formControlName="projTypeName" />
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-form-label col-3 text-end">Project Type</label>
        <div class="col">
          <select formControlName="projType" class="form-control form-select">
            <option [ngValue]="''">Please select</option>
            <option *ngFor="let projHierarchy of projTypes; let i = index" [ngValue]="projHierarchy">
              {{ projHierarchy.projectTypeName }}
            </option>
          </select>
          <div *ngIf="showSelectError" class="my-2">Please select hierarchy</div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col d-flex justify-content-center">
          <button type="button" (click)="setSearchData()" class="me-3 btn btn-danger">Submit</button>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <div *ngIf="projHierarchyData?.length" [formArrayName]="'users'">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Project Designation</th>
                  <th>Level</th>
                  <th>Name of user</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pjData of projHierarchyData; let i = index" class="text-capitalize" [formGroupName]="i">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <input formControlName="designationName" class="view-input" />
                  </td>
                  <td><input formControlName="level" class="view-input" /></td>
                  <td>
                    <select formControlName="userId" class="form-control form-select">
                      <option [value]="''">Please select</option>
                      <option *ngFor="let userdata of userAllData; let i = index" [value]="userdata.id">
                        {{ userdata.firstName }} {{ userdata.lastName }}
                      </option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <button type="submit" class="btn btn-danger" [disabled]="projCreateForm.invalid">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showError" class="text-center">
      <P>{{ showError }}</P>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showSuccess" class="text-center">
      <P>{{ showSuccess }}</P>
    </div>
  </div>
</div>
