<form [formGroup]="projCreateForm" (ngSubmit)="onSubmitProjCreateForm()">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="row">
        <span class="bc-cont col-md-3">Create Project</span>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-2">
      <div class="red-tags">Project Name</div>
    </div>
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        id="userName"
        formControlName="projTypeName"
      />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2">
      <div class="red-tags">Project Type</div>
    </div>
    <div class="col-md-3">
      <select formControlName="projType" class="form-control form-select"  >
        <option [ngValue]="''">Please select</option>
        <option
          *ngFor="let projHierarchy of projTypes; let i = index"
          [ngValue]="projHierarchy"
        >
          {{ projHierarchy.projectTypeName }}
        </option>
      </select>
      <div *ngIf="showSelectError" class="mt-2 mb-2">Please select hierarchy</div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2">
      <button
        type="button"
        (click)="setSearchData()"
        class="btn bg-danger red-tags w-100 rounded-0 text-white"
      >
        Submit
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <div *ngIf="projHierarchyData?.length" [formArrayName]="'users'">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Project Designation</th>
              <th>Level</th>
              <th>Name of user</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let pjData of projHierarchyData; let i = index"
              class="text-capitalize"
              [formGroupName]="i"
            >
              <td>{{ i + 1 }}</td>
              <td>
                <input formControlName="designationName" class="view-input" />
              </td>
              <td><input formControlName="level" class="view-input" /></td>
              <td>
                <select formControlName="userId" class="form-control form-select"  >
                  <option [value]="''">Please select</option>
                  <option
                    *ngFor="let userdata of userAllData; let i = index"
                    [value]="userdata.id"
                  >
                    {{ userdata.firstName}} {{userdata.lastName}}
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <button
            type="submit"
            class="btn bg-danger red-tags col-md-2 rounded-0 text-white"
            [disabled]="projCreateForm.invalid"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row mt-5">
  <div class="col-12">
    <div *ngIf="showError" class="text-center">
      <P
        >{{showError}}</P
      >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showSuccess" class="text-center">
      <P
        >{{showSuccess}}</P
      >
    </div>
  </div>
</div>

