<div class="row mt-5">
    <div class="col-md-12">
      <div class="row">
        <span class="bc-cont col-md-3">Create Users</span>
      </div>
      <form
        [formGroup]="userCreateEditForm"
        (ngSubmit)="onSubmitUserCreateEdit()"
      >
        <div class="row mt-5" *ngIf="role == 'superadmin'">
          <div class="col-md-2">
            <div class="red-tags ps-0">Name of Company</div>
          </div>
          <div class="col-md-4">
            <select class="form-control form-select" formControlName="companyName">
              <option value="null">Please select</option>
              <option
                *ngFor="let company of companies; let i = index"
                [value]="company.id"
              >
                {{ company.companyName }}
              </option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <div class="red-tags ps-0">Name of User</div>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="userName" pattern="^[a-zA-Z]+(\s[a-zA-Z]+)?$" />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <div class="red-tags ps-0">Department</div>
          </div>
          <div class="col-md-4">
              <select class="form-control form-select" formControlName="department">
                  <option value="null">Please select</option>
                  <option
                    *ngFor="let department of departments; let i = index"
                    [value]="department.id"
                  >
                    {{ department.departmentName }}
                  </option>
                </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <div class="red-tags ps-0">Designation</div>
          </div>
          <div class="col-md-4">
              <select class="form-control form-select" formControlName="designation">
                  <option value="null">Please select</option>
                  <option
                    *ngFor="let designation of designations; let i = index"
                    [value]="designation.id"
                  >
                    {{ designation.designation }}
                  </option>
                </select>
            
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <div class="red-tags ps-0">E-mail Id</div>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="emailId" />
          </div>
          <div class="col-md-1">
            <div class="red-tags ps-0 text-end">Mobile</div>
          </div>
          <div class="col-md-3">
            <input
              type="text"
              class="form-control"
              formControlName="phoneNumber"
              minlength="10"
              maxlength="10"
              (keypress)="numberOnly($event)"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <div class="red-tags ps-0">Level</div>
          </div>
          <div class="col-md-4">
            <select class="form-control form-select" formControlName="level">
                  <option value="null">Please select</option>
                  <option
                    *ngFor="let level of levels; let i = index"
                    [value]="level.id"
                  >
                    {{ level.level }}
                  </option>
                </select>
          </div>
          <div class="col-md-1">
            <div class="red-tags ps-0 text-end">Type</div>
          </div>
          <div class="col-md-3">
              <select class="form-control form-select" formControlName="userType">
                  <option value="null">Please select</option>
                  <option
                    *ngFor="let type of types; let i = index"
                    [value]="type.id"
                  >
                    {{ type.type }}
                  </option>
                </select>
            
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <div class="red-tags ps-0">Search Rights</div>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              formControlName="searchRights"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <div class="red-tags ps-0">Additional Field</div>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              formControlName="additionalField"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="offset-md-2 col-md-2">
            <button
              type="submit"
              class="btn bg-danger red-tags rounded-0 text-white w-100"
              [disabled]="userCreateEditForm.invalid"
            >
              Save
            </button>
          </div>
          <div class="col-md-2">
            <button
              class="btn bg-danger red-tags rounded-0 text-white w-100"
              type="button"
            >
              Close
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  