<div class="row">
  <div class="row mb-3">
    <h3 class="col">Grant Access to User</h3>
  </div>
  <div class="offset-xl-2 col-xl-8">
    <form [formGroup]="userCreateEditForm" (ngSubmit)="onSubmitUserCreateEdit()">
      <div class="row mb-2">
        <label class="col-form-label col-2 text-end">Name of User</label>
        <div class="col">
          <select class="form-control form-select" formControlName="userName">
            <option [value]="''">Please select</option>
            <option *ngFor="let user of users; let i = index" [value]="user.id">
              {{ user.userName }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-2 text-end">Department</label>
        <div class="col">
          <select class="form-control form-select" formControlName="department">
            <option [value]="''">Please select</option>
            <option *ngFor="let department of departments; let i = index" [value]="department.id">
              {{ department.departmentName }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-2 text-end">Designation</label>
        <div class="col">
          <select class="form-control form-select" formControlName="designation" (change)="setLevel($event)">
            <option [value]="''">Please select</option>
            <option *ngFor="let designation of designations; let i = index" [value]="designation.id">
              {{ designation.designationName }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-2 text-end">E-mail Id</label>
        <div class="col">
          <input type="text" class="form-control" formControlName="emailId" />
        </div>
        <div class="col">
          <div class="red-tags ps-0 text-end">Mobile</div>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            formControlName="phoneNumber"
            minlength="10"
            maxlength="10"
            (keypress)="numberOnly($event)"
          />
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-2 text-end">Level</label>
        <div class="col">
          <input type="text" class="form-control" formControlName="level" />
        </div>
        <div class="col">
          <div class="red-tags ps-0 text-end">Type</div>
        </div>
        <div class="col">
          <select class="form-control form-select" formControlName="userType">
            <option [value]="''">Please select</option>
            <option *ngFor="let type of types; let i = index" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-2 text-end">Search Rights</label>
        <div class="col">
          <select class="form-control form-select" formControlName="searchRights">
            <option [value]="''">Please select</option>
            <option *ngFor="let rightType of rightsTypes; let i = index" [value]="rightType.id">
              {{ rightType.description }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-form-label col-2 text-end">Additional Field</label>
        <div class="col">
          <input type="text" class="form-control" formControlName="additionalField" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col d-flex justify-content-center">
          <button type="submit" class="me-3 btn btn-danger" [disabled]="userCreateEditForm.invalid">Save</button>
          <button class="btn btn-secondary" type="reset">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12">
    <div *ngIf="showError" class="text-center">
      <P>{{ showError }}</P>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showSuccess" class="text-center">
      <P>{{ showSuccess }}</P>
    </div>
  </div>
</div>
