  <div class="row mt-5">
    <div class="col-md-2">
      <div class="red-tags">Name of User</div>
    </div>
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        id="userName"
        [(ngModel)]="srchTrmUserName"
        
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2">
      <div class="red-tags">User Email Id</div>
    </div>
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        id="email"
        [(ngModel)]="srchTrmEmail"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2">
      <button
        (click)="setSearchTerm()"
        class="btn bg-danger red-tags w-100 rounded-0 text-white"
        [disabled]="!srchTrmUserName && !srchTrmEmail"
      >
        Search
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div *ngIf="(gaUserAllData$ | async)?.length">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th>Name of User</th>
              <th>Email Id</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userdata of (gaUserAllData$ | async)!">
              <td scope="row">{{ userdata.id }}</td>
              <td>{{ userdata.companyName }}</td>
              <td>{{ userdata.emailId }}</td>
              <td>
                <button
                  (click)="postEditId(userdata)"
                  class="btn btn-sm me-2"
                >
                <i class="fa fa-pencil"></i>
                </button>
                <button
                  (click)="postEditId(userdata)"
                  class="btn btn-sm"
                >
                <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="showTE" class="text-center">
        <P
          >Data Not found. Please submit different criteria and try again later</P
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div
        class="col-12 d-flex align-items-start justify-content-between"
        *ngIf="total$"
      >
        <ngb-pagination
          [collectionSize]="(total$ | async)!"
          [(page)]="service.page"
          [pageSize]="service.pageSize"
          (pageChange)="setPage($event)"
        >
        </ngb-pagination>
  
        <select
          class="form-select"
          style="width: auto"
          name="pageSize"
          [(ngModel)]="service.pageSize"
          (change)="setPageSize($event)"
        >
          <option [value]="5">5 items per page</option>
          <option [value]="10">10 items per page</option>
          <!-- <option [ngValue]="10">10 items per page</option> -->
        </select>
      </div>
    </div>
  </div>
  