  <div class="row mt-5">
    <label class="col-auto col-form-label pe-0">User:</label>
    <div class="col me-3">
      <input
        type="text"
        class="form-control"
        id="userName"
        [(ngModel)]="srchTrmUserName"
        
      />
    </div>
    <label class="col-auto col-form-label pe-0">User Email Id:</label>
    <div class="col me-3">
      <input
        type="text"
        class="form-control"
        id="email"
        [(ngModel)]="srchTrmEmail"
      />
    </div>
    <div class="col-auto d-flex justify-content-center">
      <button
        (click)="setSearchTerm()"
        class="btn btn-sm btn-danger"
        [disabled]="!srchTrmUserName && !srchTrmEmail"
      >
        Search
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div *ngIf="(gaUserAllData$ | async)?.length">
        <table class="table table-sm table-striped align-middle">
          <thead>
            <tr class="bg-primary bg-gradient text-white">
              <th scope="col">#</th>
              <th>Name of User</th>
              <th>Email Id</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userdata of (gaUserAllData$ | async)!; let i = index;">
              <td scope="row">{{ (this.page - 1) * this.pageSize + i + 1 }}</td>
              <td>{{ userdata.companyName }}</td>
              <td>{{ userdata.emailId }}</td>
              <td>
                <button
                  (click)="postEditId(userdata)"
                  class="btn btn-sm me-2"
                >
                <i class="fa fa-pencil"></i>
                </button>
                <button
                  (click)="postEditId(userdata)"
                  class="btn btn-sm"
                >
                <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
      class="col d-flex align-items-start justify-content-between"
      *ngIf="total$"
    >
      <ngb-pagination
        [collectionSize]="(total$ | async)!"
        [(page)]="service.page"
        [pageSize]="service.pageSize"
        (pageChange)="setPage($event)"
      >
      </ngb-pagination>
    </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="showTE" class="text-center">
        <P
          >Data Not found. Please submit different criteria and try again later</P
        >
      </div>
    </div>
  </div>
  