<div class="container mt-1">
  <div class="row">
    <div class="col-md-2" id="nav-bg">
      <nav
        class="p-0 navbar navbar-expand-md samrx-color bg-primary site-begin"
        aria-label="Parent Navigation"
      >
        <div class="collapse navbar-collapse" id="parentNavbar">
          <ul class="navbar-nav mb-0 d-block w-100">
            <!-- MASTER -->
            <li class="nav-item dropdown">
              <a
                class="nav-link main-nav-link"
                aria-current="page"
                id="navDropdownAdmin"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                [ngClass]="{
                  active: child1_1RLA.isActive || child1_2RLA.isActive
                }"
                >Admin</a
              >
              <ul
                class="dropdown-menu w-100 cont-height"
                aria-labelledby="navDropdownAdmin"
              >
                <li ngbDropdown class="nav-item dropdown">
                  <a
                    ngbDropdownToggle
                    class="nav-link dropdown-toggle ps-3"
                    aria-current="page"
                    id="navDropdownCompany"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    [ngClass]="{
                      active: child1_1RLA.isActive || child1_2RLA.isActive
                    }"
                    >Company</a
                  >
                  <ul
                    ngbDropdownMenu
                    class="dropdown-menu p-0 pt-1 m-0 border-0"
                    aria-labelledby="navDropdownCompany"
                  >
                    <li>
                      <a
                        ngbDropdownItem
                        routerLink="company/search-company"
                        class="dropdown-item ps-4"
                        aria-current="page"
                        routerLinkActive="active"
                        #child1_1RLA="routerLinkActive"
                        >Search</a
                      >
                    </li>
                    <li>
                      <a
                        ngbDropdownItem
                        routerLink="company/create-edit-company"
                        class="dropdown-item ps-4"
                        aria-current="page"
                        routerLinkActive="active"
                        #child1_2RLA="routerLinkActive"
                        >Create / Edit</a
                      >
                    </li>
                  </ul>
                </li>
                <li ngbDropdown class="nav-item dropdown">
                  <a
                    ngbDropdownToggle
                    class="nav-link dropdown-toggle ps-3"
                    aria-current="page"
                    id="navDropdownUser"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    [ngClass]="{
                      active: child2_1RLA.isActive || child2_2RLA.isActive
                    }"
                    >User</a
                  >
                  <ul
                    ngbDropdownMenu
                    class="dropdown-menu p-0 pt-1 m-0 border-0"
                    aria-labelledby="navDropdownUser"
                  >
                    <li>
                      <a
                        ngbDropdownItem
                        routerLink="user/search-user"
                        class="dropdown-item ps-4"
                        aria-current="page"
                        routerLinkActive="active"
                        #child2_1RLA="routerLinkActive"
                        >Search</a
                      >
                    </li>
                    <li>
                      <a
                        ngbDropdownItem
                        routerLink="user/create-edit-user"
                        class="dropdown-item ps-4"
                        aria-current="page"
                        routerLinkActive="active"
                        #child2_2RLA="routerLinkActive"
                        >Create / Edit</a
                      >
                    </li>
                  </ul>
                </li>
                <li ngbDropdown class="nav-item dropdown">
                  <a
                    ngbDropdownToggle
                    class="nav-link dropdown-toggle ps-3"
                    aria-current="page"
                    id="navDropdownGAUser"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    [ngClass]="{
                      active: child3_1RLA.isActive || child3_2RLA.isActive
                    }"
                    >Grant Access</a
                  >
                  <ul
                    ngbDropdownMenu
                    class="dropdown-menu p-0 pt-1 m-0 border-0"
                    aria-labelledby="navDropdownGAUser"
                  >
                    <li>
                      <a
                        ngbDropdownItem
                        routerLink="ga-user/ga-search-user"
                        class="dropdown-item ps-4"
                        aria-current="page"
                        routerLinkActive="active"
                        #child3_1RLA="routerLinkActive"
                        >Search</a
                      >
                    </li>
                    <li>
                      <a
                        ngbDropdownItem
                        routerLink="ga-user/ga-create-edit-user"
                        class="dropdown-item ps-4"
                        aria-current="page"
                        routerLinkActive="active"
                        #child3_2RLA="routerLinkActive"
                        >Create / Edit</a
                      >
                    </li>
                  </ul>
                </li>
                <li ngbDropdown lass="nav-item dropdown">
                  <a
                    ngbDropdownToggle
                    class="nav-link dropdown-toggle ps-3"
                    aria-current="page"
                    id="navDropdownSettings"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    [ngClass]="{
                      active:
                        child4_1_1RLA.isActive ||
                        child4_1_2RLA.isActive ||
                        child4_2_1RLA.isActive ||
                        child4_2_2RLA.isActive ||
                        child4_3_1RLA.isActive ||
                        child4_3_2RLA.isActive ||
                        child4_4_1RLA.isActive ||
                        child4_4_2RLA.isActive ||
                        child4_5_1RLA.isActive ||
                        child4_5_2RLA.isActive
                    }"
                    >Settings</a
                  >
                  <ul
                    ngbDropdownMenu
                    class="dropdown-menup-0 pt-1 m-0 border-0"
                    aria-labelledby="navDropdownSettings"
                  >
                    <li ngbDropdown class="nav-item dropdown">
                      <a
                        ngbDropdownToggle
                        class="nav-link dropdown-toggle ps-4"
                        aria-current="page"
                        id="navDropdownDesignation"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        [ngClass]="{
                          active:
                            child4_1_1RLA.isActive || child4_1_2RLA.isActive
                        }"
                        >Designation</a
                      >
                      <ul
                        ngbDropdownMenu
                        class="dropdown-menu p-0 pt-1 m-0 border-0"
                        aria-labelledby="navDropdownDesignation"
                      >
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="settings/designation/list-designation"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child4_1_1RLA="routerLinkActive"
                            >List</a
                          >
                        </li>
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="settings/designation/create-edit-designation"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child4_1_2RLA="routerLinkActive"
                            >Create / Edit</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li ngbDropdown class="nav-item dropdown">
                      <a
                        ngbDropdownToggle
                        class="nav-link dropdown-toggle ps-4"
                        aria-current="page"
                        id="navDropdownDepartment"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        [ngClass]="{
                          active:
                            child4_2_1RLA.isActive || child4_2_2RLA.isActive
                        }"
                        >Department</a
                      >
                      <ul
                        ngbDropdownMenu
                        class="dropdown-menu p-0 pt-1 m-0 border-0"
                        aria-labelledby="navDropdownDepartment"
                      >
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="settings/department/list-department"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child4_2_1RLA="routerLinkActive"
                            >List</a
                          >
                        </li>
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="settings/department/create-edit-department"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child4_2_2RLA="routerLinkActive"
                            >Create / Edit</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li ngbDropdown class="nav-item dropdown">
                      <a
                        ngbDropdownToggle
                        class="nav-link dropdown-toggle ps-4"
                        aria-current="page"
                        id="navDropdownTagging"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        [ngClass]="{
                          active:
                            child4_3_1RLA.isActive || child4_3_2RLA.isActive
                        }"
                        >Tagging</a
                      >
                      <ul
                        ngbDropdownMenu
                        class="dropdown-menu p-0 pt-1 m-0 border-0"
                        aria-labelledby="navDropdownTagging"
                      >
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="settings/tagging/list-tagging"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child4_3_1RLA="routerLinkActive"
                            >List</a
                          >
                        </li>
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="settings/tagging/create-edit-tagging"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child4_3_2RLA="routerLinkActive"
                            >Create / Edit</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li ngbDropdown class="nav-item dropdown">
                      <a
                        ngbDropdownToggle
                        class="nav-link dropdown-toggle ps-4"
                        aria-current="page"
                        id="navDropdownDTC"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        [ngClass]="{
                          active:
                            child4_4_1RLA.isActive || child4_4_2RLA.isActive
                        }"
                        >Doc Type</a
                      >
                      <ul
                        ngbDropdownMenu
                        class="dropdown-menu p-0 pt-1 m-0 border-0"
                        aria-labelledby="navDropdownDTC"
                      >
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="settings/doc-type-creation/list-doc-type-creation"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child4_4_1RLA="routerLinkActive"
                            >List</a
                          >
                        </li>
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="settings/doc-type-creation/create-edit-doc-type-creation"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child4_4_2RLA="routerLinkActive"
                            >Create / Edit</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li ngbDropdown class="nav-item dropdown">
                      <a
                        ngbDropdownToggle
                        class="nav-link dropdown-toggle ps-4"
                        aria-current="page"
                        id="navDropdownSR"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        [ngClass]="{
                          active:
                            child4_5_1RLA.isActive || child4_5_2RLA.isActive
                        }"
                        >Search Rights</a
                      >
                      <ul
                        ngbDropdownMenu
                        class="dropdown-menu p-0 pt-1 m-0 border-0"
                        aria-labelledby="navDropdownSR"
                      >
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="settings/search-right/list-search-right"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child4_5_1RLA="routerLinkActive"
                            >List</a
                          >
                        </li>
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="settings/search-right/create-edit-search-right"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child4_5_2RLA="routerLinkActive"
                            >Create / Edit</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li ngbDropdown lass="nav-item dropdown">
                  <a
                    ngbDropdownToggle
                    class="nav-link dropdown-toggle ps-3"
                    aria-current="page"
                    id="navDropdownProject"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    [ngClass]="{
                      active:
                        child5_1_1RLA.isActive ||
                        child5_1_2RLA.isActive ||
                        child5_2_1RLA.isActive ||
                        child5_3_1RLA.isActive
                    }"
                    >Project</a
                  >
                  <ul
                    ngbDropdownMenu
                    class="dropdown-menup-0 pt-1 m-0 border-0"
                    aria-labelledby="navDropdownProject"
                  >
                    <li ngbDropdown class="nav-item dropdown">
                      <a
                        ngbDropdownToggle
                        class="nav-link dropdown-toggle ps-4"
                        aria-current="page"
                        id="navDropdownProjTypeCreation"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        [ngClass]="{
                          active:
                            child5_1_1RLA.isActive || child5_1_2RLA.isActive
                        }"
                        >Project Type</a
                      >
                      <ul
                        ngbDropdownMenu
                        class="dropdown-menu p-0 pt-1 m-0 border-0"
                        aria-labelledby="navDropdownProjTypeCreation"
                      >
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="project/proj-type-creation-sa/list-proj-type-creation"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child5_1_1RLA="routerLinkActive"
                            >List</a
                          >
                        </li>
                        <li>
                          <a
                            ngbDropdownItem
                            routerLink="project/proj-type-creation-sa/create-edit-proj-type-creation"
                            class="dropdown-item ps-5"
                            aria-current="page"
                            routerLinkActive="active"
                            #child5_1_2RLA="routerLinkActive"
                            >Create / Edit</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a
                        ngbDropdownItem
                        routerLink="project/proj-hierarchy-creation-sa"
                        class="dropdown-item ps-4"
                        aria-current="page"
                        routerLinkActive="active"
                        #child5_2_1RLA="routerLinkActive"
                        >Project Hierarchy</a
                      >
                    </li>
                    <li>
                      <a
                        ngbDropdownItem
                        routerLink="project/proj-type-creation-admin"
                        class="dropdown-item ps-4"
                        aria-current="page"
                        routerLinkActive="active"
                        #child5_3_1RLA="routerLinkActive"
                        >Project Type</a
                      >
                    </li>
                    <li>
                      <a
                        ngbDropdownItem
                        routerLink="project/proj-creation-admin"
                        class="dropdown-item ps-4"
                        aria-current="page"
                        routerLinkActive="active"
                        #child5_3_1RLA="routerLinkActive"
                        >Project Creation</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-10 pages">
      <app-breadcrumb
        [fetchPageRouteDetails]="pageRouteDetails"
      ></app-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
