<div class="container-fluid">
  <div class="row h-100 mt-1" *ngIf="isAuthenticated() == true; else elseBlock">
    <div class="col-lg-3 col-xl-2 navigation">
      <app-navigation></app-navigation>
    </div>
    <div class="col pages">
      <app-breadcrumb [fetchPageRouteDetails]="pageRouteDetails"></app-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </div>

  <ng-template #elseBlock class="login"><router-outlet></router-outlet></ng-template>

  <!-- https://ng-bootstrap.github.io/#/components/dropdown/examples -->
</div>
