<div class="container">
  <div class="row">
    <div class="col-md-2">
      <nav
        class="navbar navbar-expand-md samrx-color bg-primary site-begin"
        aria-label="Parent Navigation"
      >
        <div
          class="collapse navbar-collapse"
          [ngbCollapse]="isMenuCollapsed"
          id="parentNavbar"
        >
          <ul class="navbar-nav mb-0 d-block w-100">
            <!-- MASTER -->
            <li ngbDropdown class="nav-item dropdown pe-2">
              <a
                ngbDropdownToggle
                class="nav-link dropdown-toggle"
                aria-current="page"
                id="navDropdownAdmin"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                [ngClass]="{
                  active: child1_1RLA.isActive || child1_2RLA.isActive
                }"
                >Admin</a
              >
              <ul
                ngbDropdownMenu
                class="dropdown-menu w-100"
                aria-labelledby="navDropdownAdmin"
              >
                <li ngbDropdown class="nav-item dropdown pe-2">
                  <a
                    ngbDropdownToggle
                    routerLink="company"
                    class="nav-link dropdown-toggle"
                    aria-current="page"
                    id="navDropdownCompany"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    [ngClass]="{
                      active: child1_1RLA.isActive || child1_2RLA.isActive
                    }"
                    >Company</a
                  >
                  <ul
                    ngbDropdownMenu
                    class="dropdown-menu"
                    aria-labelledby="navDropdownCompany"
                  >
                    <li>
                      <a
                        ngbDropdownItem
                        routerLink="company/search-company"
                        class="dropdown-item"
                        aria-current="page"
                        routerLinkActive="active"
                        #child1_1RLA="routerLinkActive"
                        >Search</a
                      >
                    </li>
                    <li>
                      <a
                        ngbDropdownItem
                        routerLink="company/create-edit-company"
                        class="dropdown-item"
                        aria-current="page"
                        routerLinkActive="active"
                        #child1_2RLA="routerLinkActive"
                        >Create / Edit</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    ngbDropdownItem
                    routerLink="user"
                    class="dropdown-item"
                    aria-current="page"
                    routerLinkActive="active"
                    #child1_1RLA="routerLinkActive"
                    >User</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-10">
      <app-breadcrumb
        [fetchPageRouteDetails]="pageRouteDetails"
      ></app-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
