<div class="row mt-5">
    <div class="col-md-12">
      <div class="row">
        <span class="bc-cont col-md-3">Create Document Type</span>
      </div>
      <form
        [formGroup]="docTypeCreateEditForm"
        (ngSubmit)="onSubmitDocTypeCreateEdit()"
      >
        <div class="row mt-5">
          <div class="col-md-2">
              <div class="red-tags ps-0">Document Type</div>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="documentType" />
            </div>
        </div>
        <div class="row mt-2">
          <div class="offset-md-2 col-md-2">
            <button
              type="submit"
              class="btn bg-danger red-tags rounded-0 text-white w-100"
              [disabled]="docTypeCreateEditForm.invalid"
            >
              Save
            </button>
          </div>
          <div class="col-md-2">
            <button
              class="btn bg-danger red-tags rounded-0 text-white w-100"
              type="button"
            >
              Close
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div *ngIf="showError" class="text-center">
        <P
          >{{showError}}</P
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="showSuccess" class="text-center">
        <P
          >{{showSuccess}}</P
        >
      </div>
    </div>
  </div>
  