<div class="row d-flex justify-content-center align-items-center vh-100 login-page">
  <div class="col-8">
    <div class="card shadow login-box">
      <div class="row g-0">
        <div class="col d-flex align-items-center">
          <div class="card-body p-4 p-lg-5 text-black">
            <form [formGroup]="loginForm" autocomplete="on" (ngSubmit)="login()">
              <div class="d-flex align-items-center justify-content-center mb-4">
                <i class="fa fa-paperclip fa-2x px-2" style="color: #ff6219"></i>
                <span class="h1 mb-0">Doc-Assist</span>
              </div>
              <h4 class="fw-light mb-3 text-center">Sign into your account</h4>

              <div class="form-outline mb-2 d-flex flex-column align-items-center">
                <label class="form-label text-secondary mb-1" for="form2Example17"><small>Email</small></label>
                <input type="email" formControlName="email" id="form2Example17" class="form-control w-75 text-center" />
              </div>

              <div class="form-outline d-flex flex-column align-items-center mb-4">
                <label class="form-label text-secondary mb-1" for="forgotPassword"><small>Password</small></label>
                <input
                  type="password"
                  formControlName="Password"
                  id="forgotPassword"
                  class="form-control w-75 text-center"
                />
                <div class="w-75 text-end">
                  <a class="small text-muted text-decoration-none" routerLink="/forgotpassword">Forgot password?</a>
                </div>
              </div>

              <div class="text-center">
                <button class="btn btn-secondary btn-sm me-3" type="reset">Reset</button>
                <button class="btn btn-primary btn-sm" type="submit">Login</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col py-4 d-flex align-items-center justify-content-center">
          <img
            src="./assets/legalAssist-1.svg"
            alt="login form"
            class="w-100 img-fluid"
            style="object-fit: contain"
          /><!--  -->
        </div>
      </div>
    </div>
  </div>
</div>
