<div class="row mt-5">
  <div class="col-md-4">
    <form
    [formGroup]="projHierarchyCreateForm"
    (ngSubmit)="onSubmitProjHierarchyCreate()"
  >
    <div class="row mt-2  proj-hierarchy-cont">
      <div class="col-md-6">
        <div class="red-tags">Project Hierarchy</div>
      </div>
      <div class="col-md-6">
        <input type="text" name="projectHierarchyName" class="form-control" formControlName="projectHierarchyName" />
        <div *ngIf="showSelectError" class="mt-2 mb-2">Please select hierarchy</div>
      </div>
      <button
        type="button"
        (click)="triggerModal(hierarchiesData)"
        class="btn bg-danger red-tags rounded-0 text-white search-btn"
      >
        Search
      </button>
      <button
        type="button"
        (click)="setTreeData()"
        class="btn bg-danger red-tags rounded-0 text-white view-btn"
      >
        View
      </button>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <div class="red-tags">Project Designation</div>
      </div>
      <div class="col-md-6">
        <select formControlName="projDesgn" class="form-control form-select" (change)="setLevel($event)">
          <option [value]="null">Please select</option>
          <option
            *ngFor="let designation of designations; let i = index"
            [value]="designation.id"
          >
            {{ designation.designationName }}
          </option>
        </select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <div class="red-tags">Level</div>
      </div>
      <div class="col-md-6">
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="level"
        />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <div class="red-tags">Linked To</div>
      </div>
      <div class="col-md-6">
        <div *ngIf="projecTHierarchyId; else nonId">
        <select formControlName="linkedTo" class="form-control form-select">
          <option [value]="null">Please select</option>
          <option
            *ngFor="let linkedto of linkedToData; let i = index"
            [value]="linkedto.id"
          >
            {{ linkedto.designationName }}
          </option>
        </select>
        </div>
        <ng-template #nonId><input class="form-control" formControlName="linkedTo" type="text" /></ng-template>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <button
        type="submit"
          class="btn bg-danger red-tags col-md-5 rounded-0 text-white"
          [disabled]="projHierarchyCreateForm.invalid"
        >
          Submit
        </button>
        <button
          type="button"
          class="btn bg-danger red-tags offset-md-2 col-md-5 rounded-0 text-white"
          (click)="resetForm()"
        >
          Reset
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div *ngIf="projectHierarchy?.length">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Project Designation</th>
                <th>Level</th>
                <th>Id</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let pjData of projectHierarchy; let i = index"
                class="text-capitalize"
              >
                <td>{{ i + 1 }}</td>
                <td>{{ pjData.designationName }}</td>
                <td>{{ pjData.level }}</td>
                <td>{{ pjData.id }}</td>
                <td>
                  <button
                    type="button"
                    (click)="postEditId(pjData)"
                    class="btn btn-sm me-2"
                  >
                  <i class="fa fa-pencil"></i>
                  </button>
                  <button
                    type="button"
                    (click)="postEditId(pjData)"
                    class="btn btn-sm"
                  >
                  <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div *ngIf="showError" class="text-center">
          <P>{{ showError }}</P>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class="col-md-8 ptree mt-5" *ngIf="data && data.designationName">
    <tree-view #treeView [data]="data" [template]="treeTemplate"> </tree-view>
    <ng-template #treeTemplate let-node>
      <span class="icon-cont"
        ><img src="/assets/images/square.png" alt="image"
      /><span class="pos-ids">{{ node.idMain }}</span></span>
      <span class="desgn-cont">{{ node.designationName }}</span>
    </ng-template>
  </div>
</div>
<ng-template #hierarchiesData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Please select hierarchy</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <select [(ngModel)]="selprojHierarchy" class="form-control form-select"  >
      <option [ngValue]="null" selected>Please select</option>
      <option
        *ngFor="let projHierarchy of projHierarchies; let i = index"
        [ngValue]="projHierarchy"
      >
        {{ projHierarchy.projectHierarchyName }}
      </option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close(selprojHierarchy)">Submit</button>
  </div>
</ng-template>