<div class="row mt-5">
  <div class="col-md-12">
    <div class="row">
      <span class="bc-cont col-md-3">Search Project Type</span>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-2">
    <div class="red-tags">Type of Project</div>
  </div>
  <div class="col-md-3">
    <input
      type="text"
      class="form-control"
      id="userName"
      [(ngModel)]="projType"
    />
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-2">
    <div class="red-tags">Additional Field</div>
  </div>
  <div class="col-md-3">
    <input
      type="text"
      class="form-control"
      id="email"
      [(ngModel)]="additionalField"
    />
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-2">
    <button
      (click)="setSearchTerm()"
      class="btn bg-danger red-tags w-100 rounded-0 text-white"
      [disabled]="!projType && !additionalField"
    >
      Search
    </button>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <div class="row mt-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th>Description</th>
            <th>Function</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let projType of projectTypes; let i = index">
            <td scope="row">{{ projType.id }}</td>
            <td>{{ projType.projDesc }}</td>
            <td>
              <button
                (click)="postEditId(projType)"
                class="btn btn-sm btn-success"
              >
                EDIT
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
