<form
  [formGroup]="documentUploadForm"
  (ngSubmit)="onSubmitDocumentUpload()"
  
>
  <div class="row mt-5">
    <div class="col-md-2">
      <div class="red-tags">Select the document</div>
    </div>
    <div class="col-md-5">
      <input type="file" class="form-control" (change)="setFile($event)" accept=".xls,.xlsx,.doc,.docx,.ppt,.pptx"/>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2">
      <div class="red-tags">Document Type</div>
    </div>
    <div class="col-md-5">
      <select class="form-control form-select" formControlName="document" >
        <option [value]="''" >Please Select</option>
        <option 
            *ngFor="let docType of docTypes; let i = index"
            [value]="docType.id">
            {{docType.documentType}}
        </option>
      </select>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2">
      <div class="red-tags">Additional Rights</div>
    </div>
    <div class="col-md-5">
      <select class="form-control form-select" formControlName="additionalRights" multiple>
        <option [value]="addRights.id" *ngFor="let addRights of additionalRights; let i = index;">
          {{addRights.right}}
        </option>
      </select>
    </div>
  </div> 
  <div class="row mt-2">
    <div class="col-md-2">
      <div class="red-tags">Document Date</div>
    </div>
    <div class="col-md-5">
      <input type="date" class="form-control" formControlName="documentDate" />
    </div>
  </div> 
  <div class="row mt-2">
    <div class="col-md-2">
      <div class="red-tags">Tagging Head</div>
    </div>
    <div class="col-md-5" *ngIf="tags  && tags.length > 0" >
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Tagging Head</th>
                <th>Yes / No</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let tag of tags; let i = index"
                class="text-capitalize"
              >
                <td>{{ i + 1}}</td>
                <td>
                  {{tag.taggingHeadName}}
                </td>
                <td>
                  <input (change)="onChange(tag.id, $event)"type="checkbox" />
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  <div class="row mt-2">
    <div class="offset-md-2 col-md-4">
      <button
        type="submit"
        class="me-5 col-md-5 btn bg-danger red-tags rounded-0 text-white"
        [disabled]="documentUploadForm.invalid || documentUploadForm.value.taggingHead.length == 0"
      >
        Save
      </button>
      <button
        class="col-md-5 btn bg-danger red-tags rounded-0 text-white"
        type="button"
      >
        Close
      </button>
    </div>
  </div>
</form>
<div class="row mt-5">
  <div class="col-12">
    <div *ngIf="showError" class="text-center">
      <P
        >{{showError}}</P
      >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showSuccess" class="text-center">
      <P
        >{{showSuccess}}</P
      >
    </div>
  </div>
</div>
