/* You can add global styles to this file, and also import other style files */
.pages .form-control {
    border: 1px solid #4554a5;
    border-radius: 0px;
}

.red-tags {
    line-height: 19px;
    padding: 8px;
    /*border: 1px solid #da2127;*/
}
.bc-cont {
    padding: 3px 7px;
    background-color: #bdc8d1;
    display: inline-block;
}

.dropdown-item.active, .dropdown-item:active, #nav-bg .bg-primary {
    background-color: #4554a5 !important;
}
