:host {
  width: 100%;
}
.dropdown-toggle::after {
  right: 12px;
  position: absolute;
  top: 18px;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  position: relative;
  border-radius: 0px;
}

.nav-link.active,
.dropdown-item.active,
.dropdown-item:active {
  background-color: #e3ebfe;
  color: rgb(79, 79, 79);
}

.cont-height {
  height: 80vh;
  padding-top: 10vh;
  display: block;
}

#nav-bg .main-nav-link {
  color: #ffffff;
}

.light-border {
  border-color: #dee2e6 !important;
}

#nav-bg .bg-primary {
  background-color: #4554a5 !important;
}
