<div class="row">
  <h3 class="col-12 mb-3">Create / Edit User</h3>
  <div class="offset-xl-2 col-xl-8">
    <form [formGroup]="userCreateEditForm" (ngSubmit)="onSubmitUserCreateEdit()">
      <div class="row mb-2" *ngIf="role == 'superadmin'">
        <label class="col-form-label col-3 text-end">Name of Company </label>
        <div class="col">
          <select class="form-control form-select" formControlName="companyId">
            <option [value]="''">Please select</option>
            <option *ngFor="let company of companyAllData; let i = index" [value]="company.id">
              {{ company.companyName }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-3 text-end">User Code</label>
        <div class="col">
          <input type="text" class="form-control" formControlName="userName" pattern="^[a-zA-Z]+(\s[a-zA-Z]+)?$" />
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-3 text-end">First Name </label>
        <div class="col">
          <input type="text" class="form-control" formControlName="firstName" pattern="^[a-zA-Z]+(\s[a-zA-Z]+)?$" />
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-3 text-end">Last Name </label>
        <div class="col">
          <input type="text" class="form-control" formControlName="lastName" pattern="^[a-zA-Z]+(\s[a-zA-Z]+)?$" />
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-3 text-end">Password </label>
        <div class="col">
          <input type="password" class="form-control" formControlName="password" />
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-3 text-end">Department </label>
        <div class="col">
          <select class="form-control form-select" formControlName="departmentId">
            <option [value]="''">Please select</option>
            <option *ngFor="let department of departments; let i = index" [value]="department.id">
              {{ department.departmentName }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-3 text-end">Designation </label>
        <div class="col">
          <select class="form-control form-select" formControlName="designationId" (change)="setLevel($event)">
            <option [value]="''">Please select</option>
            <option *ngFor="let designation of designations; let i = index" [value]="designation.id">
              {{ designation.designationName }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-3 text-end">E-mail Id </label>
        <div class="col">
          <input type="text" class="form-control" formControlName="emailId" />
        </div>
        <div class="col-1">
          <div class="red-tags ps-0 text-end">Mobile</div>
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            formControlName="phoneNumber"
            minlength="10"
            maxlength="10"
            (keypress)="numberOnly($event)"
          />
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-3 text-end">Level </label>
        <div class="col">
          <input type="text" class="form-control" formControlName="level" />
        </div>
        <div class="col-1">
          <div class="red-tags ps-0 text-end">Type</div>
        </div>
        <div class="col-3">
          <select class="form-control form-select" formControlName="userType">
            <option [value]="''">Please select</option>
            <option *ngFor="let type of types; let i = index" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-3 text-end">Search Rights </label>
        <div class="col">
          <select class="form-control form-select" formControlName="searchRights" multiple>
            <option [value]="''">Please select</option>
            <option *ngFor="let rightType of rightsTypes; let i = index" [value]="rightType.id">
              {{ rightType.description }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-form-label col-3 text-end">Additional Field </label>
        <div class="col">
          <input type="text" class="form-control" formControlName="additionalField" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col d-flex justify-content-center">
          <button type="submit" class="me-3 btn btn-danger" [disabled]="userCreateEditForm.invalid">Save</button>
          <button class="btn btn-secondary" type="reset">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showError" class="text-center">
      <P>{{ showError }}</P>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="showSuccess" class="text-center">
      <P>{{ showSuccess }}</P>
    </div>
  </div>
</div>
